@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.all {
   margin-bottom: 100px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF8F3;
    background-image: url("Assets/images/developer.png") , url("Assets/images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left , right bottom;
    background-size: 100px 667px , 625px 445px;}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: "Open Sans", serif;
    margin:0 172px; 
}
.name{
    font-size: 35px;
    font-weight: extra-bold;
    color: rgb(6, 6, 6);
    margin-left: ;

}
 .name span{
    color: #FD6E0A;
}

.navllist{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 15px;
   
}
.ancor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 145px;
    height: 20px;
    
    
}
.ancor a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 15px;
    color: #474747;
   
}
.ancor a:hover{
    background-color: black;
    color: white;
}

.button,.laasst{
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    width: 115px;
    height: 48px;
    border: none;
    font-weight: bold;
    
}

.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 25px 0 175px;
}
.pic{
    width: 445px;
    height:600px;
   
}
.hiam{
    font-size: 35px;
     font-weight: 600;
    color: #474747;
    height: 52px;
    width: 132px;
    
}
.hasnat{
    font-size: 65px;
    font-weight: bold;
    color: #181818;
    height:100px;
    width: 375px;

}
.about{
    font-size: 14px;
    font-weight: normal;
    color: #757575;
    height: 51px;
    width: 440px;
    margin-bottom: 50px;
    line-height: 22px;
}
.lastbuton,.buttonn{
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    height: 55px;
    border: none;
    font-weight: bold;
    padding: 10px;
    
}
.button:hover,.buttonn:hover, .lastbuton:hover,.laasst:hover{
    background-color: rgba(0, 0, 0, 0.592);
    color: white;
    cursor: pointer;
}

.aboutme{
    display: flex;
    justify-content: center;
    flex-direction:column;
    width: 75%;
    height: 75%px;
    
}
.info{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}
.aboutt{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}
.aboutmme{
    text-align: center;
    margin-bottom: 30px;
    font-size:15px ;
    font-weight: normal;
}
.skills{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: 895px;
    background-color:#FFF8F3 ;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 100px;
    height: 480px;
    padding: 0;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.251);

}
.info p{
    font-size: 18px;
    font-weight:normal;
    color: #757575;
    margin-bottom: 20px;
}
.info h3{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}

#services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 895px;
    margin: 0 auto;
    background-color: ;
}
.cardcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    
}
.card{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 205px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
    margin-bottom: 50px;
    margin-right: 15px;
    border-radius: 10px;
   
}
.icon img{
  height: 40px; 
  width: 40px; 
}
.top{
    margin: 0 auto;
    font-size: 30px;
    width: 140px;
    margin-bottom: 30px;
}
.para{
    margin: 0 auto;
    width:720px ;
    margin-bottom: 45px;
}

.education{
   display: flex; 
   justify-content:space-between;
   align-items: center;
   flex-direction: row;
   margin-bottom: 40px;
}
.edducation{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 402px;
   } 
   #resumme{
    width: 895px;
    margin: 0 auto;
   }
   .summer{
   margin-top: 100px;
    text-align: center;
    font-size: 30;
    font-weight: bold;
    margin-bottom: 60px;
    
   }
   .size{
    font-size: 23px;
    font-weight: bold;
   }
   .small{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
   }
   .smaall{
     font-size: 14px;
     color: rgba(117, 117, 117, 1);
     width: 380px;
     
   }
   .last{
    display: flex;
    justify-content: center;
    align-items: center;

   }
   
   #resumme hr{
    width: 402px;
   }
   .footer{
    display: flex;
    justify-content: space-between;
    width: 895px;
    margin: 0 auto;
    margin-top: 50px;
    background-color:rgba(255, 248, 243, 1) ;
    padding: 30px 30px;
    
   }
   .footerr{
    width: 402px;
    padding: 30px;
    border-radius: 15px;
   }
   .form{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 20px;
    
     
   }
   
   .letsmessage{
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;


   }
   .footer .formin{
    width: 355px;
    height: 50px;

   }
   .footer .messsage{
    height: 158px;
   }
   
   